<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="never" />
    <title>Melodymate</title>
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/css/search.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="top">
        <div class="slogan"><span class="icon0"></span>An O Fulin Project</div>
        <div class="img"></div>
      </div>
      <div class="bottom">
        <div class="left">
          <ul>
            <li class="name">FULIN</li>
            <li class="search-container">
              <div class="search-box">
                <input
                  type="text"
                  id="searchInput"
                  class="form-control"
                  placeholder="搜索歌曲或歌手..."
                  autocomplete="off"
                  style="
                    background: rgba(255, 255, 255, 0.1);
                    border: 1px solid #842828;
                    color: #842828;
                    font-size: 14px;
                    padding: 5px 35px 5px 15px;
                    width: 100%;
                    transition: all 0.3s ease;
                  "
                />
                <i class="fas fa-search search-icon" style="color: #842828"></i>
              </div>
              <div id="searchSuggestions" class="search-suggestions">
                <!-- 搜索结果将在这里动态显示 -->
              </div>
            </li>
          </ul>
        </div>
        <div class="right">
          <ul class="func">
            <li>USE CASES ◢</li>
            <li>EVENTS ◢</li>
            <li>MARKETPLACE ◢</li>
            <li>COMMUNITY ◢</li>
            <li>BLOG</li>
            <li>DOCS</li>
            <li class="join">JOIN ◢</li>
            <li class="login">LOG IN</li>
          </ul>
        </div>
      </div>
      <div>
        <link rel="stylesheet" href="/styles/all.css" />
        <div class="container" th:include="::content">首屏播放器</div>
      </div>

      <div class="footer">
        <p class="beian">
          &copy 2022 kaqyoin
          <a class="a1" hreflang="京IC备案1242107号" href="#"
            >京ICP备11027288号</a
          >
          网络视听许可证01111222号 京公网安备15877817
          <a class="a2" hreflang="新出发京批字直接1395177号" href="#"
            >新出发京批字直接1395177号</a
          >
        </p>
        <p class="beian">
          违法与不良信息举报 电话：7777777 邮箱：kaqyoin@163.com
        </p>
        <p class="beian">powered by kaqyoin / Borrowed from OpenStack</p>
        <p class="adv">
          xxx：ldsa@163.com SAO用户手册 新版说明 我要反馈 SAO中心
        </p>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/search.js"></script>
  </body>
</html>
